## Import the MN Counties and create reporting tables with calculations by county

In [183]:
# Dependencies and Setup
import pandas as pd


pd.options.display.max_columns = None


from sqlalchemy import create_engine
from sqlalchemy import inspect
import psycopg2
from config import db_password

### Connect to DB and create county table if it doesn't exist

In [184]:
# Connect to PostgreSQL movie_data DB
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/last_freeze_analysis"

# Create the database engine with the following line 
engine = create_engine(db_string)

In [185]:
# Check if the table exists.  If it doesn't create the county table
hasCountyTable = inspect(engine).has_table("county_lookup")
if  hasCountyTable == False:
    # Load County Files
    county_file = "../Resources/mn_county_ref.csv"
    # Read the County Data and store into a Pandas DataFrame
    county_list_df = pd.read_csv(county_file)
    county_list_df.to_sql(name="county_lookup", con=engine, index=False)
else:
    county_list_df = pd.read_sql("SELECT * FROM county_lookup",
                      con=engine)

In [186]:
# # read table data using sql query
# sql_string =     "SELECT c.county_name, s.county, o.* \
#         FROM observation o \
#         INNER JOIN station s \
#         ON s.station_uid = o.station_uid  \
#         INNER JOIN county c \
#         ON c.county_code = s.county"
# print (sql_string)

observations_df = pd.read_sql(
    "SELECT c.county_name, s.county, o.* \
        FROM observation o \
        INNER JOIN station s \
        ON s.station_uid = o.station_uid  \
        INNER JOIN county_lookup c \
        ON c.county_code = s.county",
    con=engine
)

In [187]:
county_df = pd.read_sql(
    "SELECT c.county_name, s.county, count(distinct(o.station_uid)) as station_count \
        FROM observation o \
        INNER JOIN station s \
        ON s.station_uid = o.station_uid  \
        INNER JOIN county_lookup c \
        ON c.county_code = s.county \
        GROUP BY county_name, s.county",
    con=engine)

county_df.head(10)

         county_name  county  station_count
0       Anoka County   27003              4
1      Carver County   27019              4
2      Dakota County   27037              4
3    Hennepin County   27053              7
4      Ramsey County   27123              5
5       Scott County   27139              1
6  Washington County   27163              2

In [188]:
observations_df.head()

,county_name,county,station_uid,date,maxt,mint,pcpn,snow,snwd,avgt,freeze_day,above_freezing,obs_year,obs_month,obs_day,obs_dayofyear,maxt_7_day,mint_7_day,avgt_7_day,precip_7_day,obs_count_7_day,maxt_30_day,mint_30_day,avgt_30_day,precip_30_day,obs_count_30_day
0,Dakota County,27037,10395,2002-01-01,15.0,-1.0,0.0,0.0,NaN,7.0,1,0,2002,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dakota County,27037,10395,2002-01-02,14.0,-3.0,0.0,NaN,NaN,5.5,1,0,2002,1,2,2,15.0,-1.0,7.000000,0.0,1.0,15.0,-1.0,7.000000,0.0,1.0
2,Dakota County,27037,10395,2002-01-03,18.0,-3.0,0.0,0.0,NaN,7.5,1,0,2002,1,3,3,15.0,-3.0,6.250000,0.0,2.0,15.0,-3.0,6.250000,0.0,2.0
3,Dakota County,27037,10395,2002-01-04,23.0,3.0,0.0,0.0,NaN,13.0,1,0,2002,1,4,4,18.0,-3.0,6.666667,0.0,3.0,18.0,-3.0,6.666667,0.0,3.0
4,Dakota County,27037,10395,2002-01-05,31.0,16.0,0.0,0.0,NaN,23.5,1,0,2002,1,5,5,23.0,-3.0,8.250000,0.0,4.0,23.0,-3.0,8.250000,0.0,4.0

In [189]:
# observations_df.count()

## Create the county table with the calculations

### County Yearly

In [190]:
# create a dataframe to store yearly summary info by county
years = pd.to_datetime(observations_df['date']).dt.year.unique()
years_df = pd.DataFrame(years,columns=['obs_year'])
county_yearly_metrics_df = pd.merge(county_df, years_df, how='cross')
county_yearly_metrics_df = county_yearly_metrics_df.set_index(['county','obs_year'])

In [191]:
# get the last frost date of each county for each year of data
last_freeze_df = observations_df.loc[(observations_df['freeze_day']==1)  & (observations_df['obs_dayofyear'] < 180),['county','date','obs_year','obs_dayofyear'] ]. \
        groupby(["county","obs_year"])[['date','obs_dayofyear']].max().rename(columns={'date':'last_freeze_date','obs_dayofyear':'last_freeze_dayofyear'})

# get the first freeze in the fall
first_freeze_df = observations_df.loc[(observations_df['freeze_day']==1)  & (observations_df['obs_dayofyear'] >= 180),['county','date','obs_year','obs_dayofyear'] ]. \
        groupby(["county","obs_year"])[['date','obs_dayofyear']].min().rename(columns={'date':'first_freeze_date','obs_dayofyear':'first_freeze_dayofyear'})

# Count to Determine if we have a complete set of observations for april to may for each county
april_to_may_days_recorderd_df = pd.DataFrame(observations_df.loc[(observations_df['obs_month']>=4 )&(observations_df['obs_month'] <= 6),['county','obs_year','mint']]\
        .groupby(['county','obs_year'])['mint'].count()).rename(columns={'mint':'observations_recorded_april_to_may'})

In [192]:
# # Get the coldest day of the year
coldest_day_of_year = observations_df.groupby(["county","obs_year"])[['mint']].min().rename(columns={'mint':'coldest_day'})
coldest_day_of_year.head()

                 coldest_day
county obs_year
27003  2002             -8.0
       2003            -19.0
       2004            -29.0
       2005            -22.0
       2006            -17.0

In [193]:
coldest_day_df = pd.merge(coldest_day_of_year, observations_df, how='left', left_on=['county', 'obs_year','coldest_day'], right_on = ["county","obs_year","mint"])
coldest_day_of_year_df = pd.DataFrame(coldest_day_df.groupby(["county","obs_year",'coldest_day'])['obs_dayofyear'].max())
coldest_day_of_year_df.rename(columns={'obs_dayofyear':'coldest_dayofyear'},inplace=True)
coldest_day_of_year_df = coldest_day_of_year_df.reset_index()
coldest_day_of_year_df.head()

   county  obs_year  coldest_day  coldest_dayofyear
0   27003      2002         -8.0                 62
1   27003      2003        -19.0                 38
2   27003      2004        -29.0                 30
3   27003      2005        -22.0                 17
4   27003      2006        -17.0                 49

In [194]:
coldest_day_of_year_df = coldest_day_of_year_df.set_index(keys=['county','obs_year'])
county_yearly_metrics_df = pd.merge(county_yearly_metrics_df, coldest_day_of_year_df, how='left', left_index=True, right_index =True)

In [195]:
# Get the hottest day of the year, if there are multiple days with the temperature, use the latest one in the year (the one closest to the next last freeze date the next spring)
hottest_day_of_year = observations_df.groupby(["county","obs_year"])[['maxt']].max().rename(columns={'maxt':'hottest_day'})
hottest_day_df = pd.merge(hottest_day_of_year, observations_df, how='left', left_on=['county', 'obs_year','hottest_day'], right_on = ["county","obs_year","maxt"])
hottest_day_of_year_df = pd.DataFrame(hottest_day_df.groupby(["county","obs_year",'hottest_day'])['obs_dayofyear'].max())
hottest_day_of_year_df.rename(columns={'obs_dayofyear':'hottest_dayofyear'},inplace=True)
hottest_day_of_year_df = hottest_day_of_year_df.reset_index()
hottest_day_of_year_df = hottest_day_of_year_df.set_index(keys=['county','obs_year'])
county_yearly_metrics_df = pd.merge(county_yearly_metrics_df, hottest_day_of_year_df, how='left', left_index=True, right_index =True)
#hottest_day_of_year_df.head()

In [196]:
# merge all the yearly data 
county_yearly_metrics_df = pd.merge(county_yearly_metrics_df, last_freeze_df, how='left', left_on=['county','obs_year'], right_index=True) #,  left_on=['station_uid', 'year'], right_on = ["station_uid","obs_year"])
county_yearly_metrics_df = pd.merge(county_yearly_metrics_df, first_freeze_df, how='left', left_on=['county','obs_year'], right_index=True) # ,  left_on=['station_uid', 'year'], right_on = ["station_uid","obs_year"])
county_yearly_metrics_df = pd.merge(county_yearly_metrics_df, april_to_may_days_recorderd_df, how='left', left_on=['county','obs_year'], right_index=True) # ,  left_on=['station_uid', 'year'], right_on = ["station_uid","obs_year"])

In [197]:
county_yearly_metrics_df.head(100)

                   county_name  station_count  coldest_day  coldest_dayofyear  \
county obs_year
27003  2002       Anoka County              4         -8.0               62.0
       2003       Anoka County              4        -19.0               38.0
       2004       Anoka County              4        -29.0               30.0
       2005       Anoka County              4        -22.0               17.0
       2006       Anoka County              4        -17.0               49.0
...                        ...            ...          ...                ...
27123  2013      Ramsey County              5        -18.0              364.0
       2014      Ramsey County              5        -24.0                6.0
       2015      Ramsey County              5        -17.0               13.0
       2016      Ramsey County              5        -20.0              354.0
       2017      Ramsey County              5        -18.0              365.0

                 hottest_day  hottest_dayofyear last_freeze_date  \
county obs_year
27003  2002             92.0              181.0       2002-05-20
       2003             96.0              236.0       2003-04-22
       2004             96.0              203.0       2004-05-15
       2005             96.0              174.0       2005-05-16
       2006            100.0              212.0       2006-05-22
...                      ...                ...              ...
27123  2013             97.0              238.0       2013-05-23
       2014             91.0              188.0       2014-04-25
       2015             94.0              226.0       2015-04-24
       2016             96.0              204.0       2016-05-15
       2017             94.0              196.0       2017-05-02

                 last_freeze_dayofyear first_freeze_date  \
county obs_year
27003  2002                      140.0        2002-10-07
       2003                      112.0        2003-09-29
       2004                      136.0        2004-09-07
       2005                      136.0        2005-10-07
       2006                      142.0        2006-10-05
...                                ...               ...
27123  2013                      143.0        2013-10-20
       2014                      115.0        2014-10-09
       2015                      114.0        2015-10-16
       2016                      136.0        2016-10-24
       2017                      122.0        2017-10-10

                 first_freeze_dayofyear  observations_recorded_april_to_may
county obs_year
27003  2002                       280.0                                89.0
       2003                       272.0                               104.0
       2004                       251.0                               181.0
       2005                       280.0                               182.0
       2006                       278.0                                92.0
...                                 ...                                 ...
27123  2013                       293.0                               364.0
       2014                       282.0                               364.0
       2015                       289.0                               364.0
       2016                       298.0                               364.0
       2017                       283.0                               353.0

[100 rows x 11 columns]

In [198]:
# Move our data columns out of the index
county_yearly_metrics_df.reset_index(inplace=True)

## Start of County Metrics

In [199]:
# Determine the mean/average last freeze date for a station 
avg_last_freeze_df = pd.DataFrame(county_yearly_metrics_df.groupby(['county'])['last_freeze_dayofyear'].mean().round(0)).rename(columns={'last_freeze_dayofyear':'avg_last_freeze_dayofyear'})

# Convert the day of year to a string value for mm/dd
avg_last_freeze_df["avg_last_freeze_mm_dd"] = pd.to_datetime(avg_last_freeze_df["avg_last_freeze_dayofyear"],format='%j').dt.strftime('%m/%d')

# determine the mean, get the string value
median_last_freeze_df = pd.DataFrame(county_yearly_metrics_df.groupby(['county'])['last_freeze_dayofyear'].median().round(0)).rename(columns={'last_freeze_dayofyear':'median_last_freeze_dayofyear'})
median_last_freeze_df["median_last_freeze_mm_dd"] = pd.to_datetime(median_last_freeze_df["median_last_freeze_dayofyear"],format='%j').dt.strftime('%m/%d')

# Merge the values into a single table
county_metrics_df = pd.merge(county_df, avg_last_freeze_df, left_on=['county'], right_on = ['county'])
county_metrics_df = pd.merge(county_metrics_df, median_last_freeze_df, left_on=['county'], right_on = ['county'])

In [200]:
# merge the station metrics and station/yearly DF to determine metrics for each station
merged_county_and_yearly_df = pd.merge(county_yearly_metrics_df, county_metrics_df, how="left", on=["county", "county"])

In [201]:
merged_county_and_yearly_df.head()

,county,obs_year,county_name_x,station_count_x,coldest_day,coldest_dayofyear,hottest_day,hottest_dayofyear,last_freeze_date,last_freeze_dayofyear,first_freeze_date,first_freeze_dayofyear,observations_recorded_april_to_may,county_name_y,station_count_y,avg_last_freeze_dayofyear,avg_last_freeze_mm_dd,median_last_freeze_dayofyear,median_last_freeze_mm_dd
0,27003,2002,Anoka County,4,-8.0,62.0,92.0,181.0,2002-05-20,140.0,2002-10-07,280.0,89.0,Anoka County,4,131.0,05/11,136.0,05/16
1,27003,2003,Anoka County,4,-19.0,38.0,96.0,236.0,2003-04-22,112.0,2003-09-29,272.0,104.0,Anoka County,4,131.0,05/11,136.0,05/16
2,27003,2004,Anoka County,4,-29.0,30.0,96.0,203.0,2004-05-15,136.0,2004-09-07,251.0,181.0,Anoka County,4,131.0,05/11,136.0,05/16
3,27003,2005,Anoka County,4,-22.0,17.0,96.0,174.0,2005-05-16,136.0,2005-10-07,280.0,182.0,Anoka County,4,131.0,05/11,136.0,05/16
4,27003,2006,Anoka County,4,-17.0,49.0,100.0,212.0,2006-05-22,142.0,2006-10-05,278.0,92.0,Anoka County,4,131.0,05/11,136.0,05/16

In [202]:
# Get a count of how many years the station is in the dataset
county_years_count = merged_county_and_yearly_df.groupby("county").count()["obs_year"]

county_years_count.head()

county
27003    21
27019    21
27037    21
27053    21
27123    21
Name: obs_year, dtype: int64

In [203]:
# Calculate the number of years where the last freeze was before or on the average date
county_count_at_or_before_avg_last_freeze = merged_county_and_yearly_df[(merged_county_and_yearly_df["last_freeze_dayofyear"] <= merged_county_and_yearly_df['avg_last_freeze_dayofyear'])]
county_count_at_or_before_avg_last_freeze = county_count_at_or_before_avg_last_freeze.groupby("county").count()["obs_year"]

In [204]:
# Calculate the number of years where the last freeze was after the average date
county_count_later_than_avg_last_freeze = merged_county_and_yearly_df[(merged_county_and_yearly_df["last_freeze_dayofyear"] > merged_county_and_yearly_df['avg_last_freeze_dayofyear'])]
county_count_later_than_avg_last_freeze = county_count_later_than_avg_last_freeze.groupby("county").count()["obs_year"]

In [205]:
county_calc_values_df = pd.DataFrame(
          {"years_included": county_years_count,
          "count_at_or_before_avg_last_freeze": county_count_at_or_before_avg_last_freeze, 
          "count_later_than_avg_last_freeze": county_count_later_than_avg_last_freeze})
county_calc_values_df.head(20)

,years_included,count_at_or_before_avg_last_freeze,count_later_than_avg_last_freeze
county,,,
27003,21,9,12
27019,21,10,11
27037,21,11,10
27053,21,12,9
27123,21,12,9
27139,21,7,13
27163,21,9,12

In [206]:
county_metrics_full_df = pd.merge(county_metrics_df, county_calc_values_df, how="left", on=["county", "county"])

In [207]:
county_metrics_full_df.head(20)

,county_name,county,station_count,avg_last_freeze_dayofyear,avg_last_freeze_mm_dd,median_last_freeze_dayofyear,median_last_freeze_mm_dd,years_included,count_at_or_before_avg_last_freeze,count_later_than_avg_last_freeze
0,Anoka County,27003,4,131.0,05/11,136.0,05/16,21,9,12
1,Carver County,27019,4,122.0,05/02,123.0,05/03,21,10,11
2,Dakota County,27037,4,123.0,05/03,123.0,05/03,21,11,10
3,Hennepin County,27053,7,124.0,05/04,121.0,05/01,21,12,9
4,Ramsey County,27123,5,120.0,04/30,118.0,04/28,21,12,9
5,Scott County,27139,1,118.0,04/28,122.0,05/02,21,7,13
6,Washington County,27163,2,114.0,04/24,118.0,04/28,21,9,12

In [208]:
# Create the Output file (CSV)
output_county_yearly_file = "../Resources/county_yearly_metrics_data.csv"
ouptut_county_file = "../Resources/county_metrics_data.csv"
output_county_lookup = "../Resources/county_lookup.csv"


county_yearly_metrics_df.to_csv(output_county_yearly_file, index=False)
county_metrics_full_df.to_csv(ouptut_county_file, index=False)
county_list_df.to_csv(output_county_lookup, index=False)

In [209]:
# RECREATE THE TABLES WITH DATA.  CREATE IN THIS ORDER TO DEAL WITH FK's
# Save the observations DataFrame to a SQL table "observations"- Replace the table if it already exists

county_yearly_metrics_df.to_sql(name='county_yearly_metrics', con=engine, if_exists='replace', index=False)   

with engine.connect() as con:
    con.execute("ALTER TABLE county_yearly_metrics ADD PRIMARY KEY (county,obs_year);")


county_metrics_full_df.to_sql(name='county_metrics', con=engine, if_exists='replace', index=False)   

with engine.connect() as con:
    con.execute("ALTER TABLE county_metrics ADD PRIMARY KEY (county);")