In [147]:
import json
import pandas as pd
import numpy as np
from pprint import pprint
from datetime import datetime, timedelta


import re
from ast import literal_eval

from sqlalchemy import create_engine
import psycopg2

import time

from config import db_password

## Open and import our 2 files into dataframes

In [148]:
file_dir = "Resources"
# Observation data
weather_file = f'../{file_dir}/rcc_data.json'

#Parameter File
params_file = f'../{file_dir}/params_list.json'

In [149]:

# Open the read the Observation data JSON file.
with open(f'{weather_file}', mode='r') as file:
    weather_raw = json.load(file)  # Load the file into a list of Dictionaries NOT RIGHT TO JSON

with open(f'{params_file}', mode='r') as file:
    params_data = json.load(file)  # Load the file into a list of Dictionaries NOT RIGHT TO JSON

In [150]:
weather_df = pd.DataFrame(weather_raw)

In [151]:
# weather_df.head()

In [152]:
# Move the API parameters we used into a dataframe
# We need the parameters to know the date range and the values in the observation Array
params_df = pd.DataFrame(params_data)

In [153]:
# params_df.head()

In [154]:
# Parse out the JSON data into a Stations Dataframe and an Observations Dataframe
counter = 0
stations_list =[]
observations_list = []

# Convert the start/end date used in the API call stored in the params file
startDate = pd.to_datetime(params_df['sdate'][0])
endDate = pd.to_datetime(params_df['edate'][0])

# Loop through the upper most level of the JSON file called "data"
for observation in weather_raw['data']:

    # Create a list of stations
    stations_list.append(observation["meta"])
        
    # Start the current date at the first date in the range for each stations observations
    currentDate = startDate
    
    # Loop through the stations observations and create a list of observations
    for observation_data in observation["data"]:
        observations_list.append({"station_uid":observation["meta"]['uid'],"date":currentDate, "data":observation_data})

        # Increment the date by one day
        currentDate = currentDate + timedelta(days=1)

        # Increment our counter (for debugging use)
        counter = counter + 1

In [155]:

# Convert our lists to dataframes
stations_df = pd.DataFrame(stations_list)
observations_df = pd.DataFrame(observations_list)

In [156]:
observations_df.tail()

         station_uid       date                   data
3266594        63155 2022-05-12  [M, M, 0.96, M, M, M]
3266595        63155 2022-05-13  [M, M, 0.11, M, M, M]
3266596        63155 2022-05-14     [M, M, M, M, M, M]
3266597        63155 2022-05-15     [M, M, M, M, M, M]
3266598        63155 2022-05-16     [M, M, M, M, M, M]

In [157]:
stations_df.head()

,valid_daterange,name,ll,sids,county,state,elev,climdiv,uid,sid_dates
0,"[[1893-01-01, 1893-05-31], [1893-01-01, 1893-0...",NORTHFIELD 2NNE,"[-93.1486, 44.4753]","[215987 2, USC00215987 6, NFDM5 7, NRFM5 7]",27037,MN,890.0,MN08,10373,"[[215987 2, 1941-12-02, 9999-12-31], [215987 2..."
1,"[[1892-04-25, 2022-05-24], [1892-04-26, 2022-0...",FARMINGTON 3NW,"[-93.17559, 44.666]","[212737 2, USC00212737 6, FRMM5 7]",27037,MN,960.0,MN09,10392,"[[212737 2, 2020-11-18, 9999-12-31], [212737 2..."
2,"[[1943-05-01, 2022-05-25], [1943-02-06, 2022-0...",ROSEMOUNT RESEARCH AND OUTREACH CENTER,"[-93.09798, 44.71673]","[217107 2, USC00217107 6, RSMM5 7]",27037,MN,945.0,MN09,10395,"[[217107 2, 1950-12-01, 9999-12-31], [217107 2..."
3,"[[1949-01-01, 2022-05-20], [1943-09-01, 2022-0...",JORDAN 1SSW,"[-93.6356, 44.6501]","[214176 2, USC00214176 6, JORM5 7, JDNM5 7]",27139,MN,900.0,MN05,10393,"[[214176 2, 2009-02-01, 9999-12-31], [214176 2..."
4,"[[1893-08-05, 2022-05-25], [1893-08-05, 2022-0...",HASTINGS DAM 2,"[-92.8689, 44.7597]","[213567 2, USC00213567 6, HSTM5 7]",27037,MN,680.0,MN09,10398,"[[213567 2, 1932-10-01, 9999-12-31], [213567 2..."

## Clean the stations data

In [158]:
# split the ll list into Latitude and longitude 
split_df = pd.DataFrame(stations_df['ll'].to_list(), columns = ['latitude','longitude'])
# concat df and split_df
stations_df = pd.concat([stations_df, split_df], axis=1)
# Drop ll column.
stations_df = stations_df.drop(columns=["ll"])
# # display df
# stations_df.head()

In [159]:
# create sids columns for the array sids
sids = []
sid_string = ""
counter = 1
for x in range(stations_df.sids.map(len).max()):
  sids.append(f"sid_{counter}")
  sid_string = f"{sid_string}, 'sid_{counter}'"
  counter = counter + 1

# split the array into separate columns
split_df = pd.DataFrame(stations_df['sids'].to_list(), columns = sids)

# concat df and split_df
stations_df = pd.concat([stations_df, split_df], axis=1)

# Drop names from columns.
stations_df = stations_df.drop(columns=["sids"])

In [160]:
# Reorder columns in the DF - Remove the valid_daterange and sid_dates since they are not necessary
column_list = f"['uid','name','county','state','latitude','longitude','climdiv'{sid_string}]"  #'valid_daterange','sid_dates'

# change the string into an array for the reordering
columnArray = literal_eval(column_list)

stations_df= stations_df.loc[:, columnArray]
stations_df.rename(columns={'uid':'station_uid'},inplace=True)

In [161]:
stations_df.head()

,station_uid,name,county,state,latitude,longitude,climdiv,sid_1,sid_2,sid_3,sid_4,sid_5,sid_6,sid_7,sid_8
0,10373,NORTHFIELD 2NNE,27037,MN,-93.14860,44.47530,MN08,215987 2,USC00215987 6,NFDM5 7,NRFM5 7,None,None,None,None
1,10392,FARMINGTON 3NW,27037,MN,-93.17559,44.66600,MN09,212737 2,USC00212737 6,FRMM5 7,None,None,None,None,None
2,10395,ROSEMOUNT RESEARCH AND OUTREACH CENTER,27037,MN,-93.09798,44.71673,MN09,217107 2,USC00217107 6,RSMM5 7,None,None,None,None,None
3,10393,JORDAN 1SSW,27139,MN,-93.63560,44.65010,MN05,214176 2,USC00214176 6,JORM5 7,JDNM5 7,None,None,None,None
4,10398,HASTINGS DAM 2,27037,MN,-92.86890,44.75970,MN09,213567 2,USC00213567 6,HSTM5 7,None,None,None,None,None

## Clean the observations dataframe

In [162]:
observations_df.head()

   station_uid       date                data
0        10373 2002-01-01  [M, M, M, M, M, M]
1        10373 2002-01-02  [M, M, M, M, M, M]
2        10373 2002-01-03  [M, M, M, M, M, M]
3        10373 2002-01-04  [M, M, M, M, M, M]
4        10373 2002-01-05  [M, M, M, M, M, M]

In [163]:
# Separate the data columns into the elems requested
elems = str(params_df["elems"][0])

elems = elems.replace(",","','")

# convert the elems from the params list to a string for splitting apart the Array 
column_list = f"['{elems}']"
columnArray = literal_eval(column_list)

# split the array into separate columns]
split_df = pd.DataFrame(observations_df['data'].to_list(), columns = columnArray)

In [164]:
# Replace any of the "M" values with NaN in the data.  This is a Missing Value
split_df.replace("M",np.NaN, inplace=True)

In [165]:
# Replace any of the "T" values with 0 in the data.  This is a trace amount of precipitation
split_df.replace("T",0, inplace=True)

In [166]:
# split up the data returned based on the Elements stored in the params json file

# concat df and split_df
observations_df = pd.concat([observations_df, split_df], axis=1)
# Drop data column.
observations_df = observations_df.drop(columns=["data"])

In [167]:
observations_df.count()

station_uid    3266599
date           3266599
maxt            126528
mint            126467
pcpn            525442
snow            326223
snwd            135202
avgt            126073
dtype: int64

In [168]:
# Drop any observations where it's missing a min temperature
observations_df = observations_df.dropna(subset=['mint'])

In [169]:
observations_df.count()

station_uid    126467
date           126467
maxt           126073
mint           126467
pcpn           115512
snow            91141
snwd            85409
avgt           126073
dtype: int64

In [170]:
# change the datatypes of the columns to numeric
observations_df[columnArray] = observations_df[columnArray].apply(pd.to_numeric, errors='coerce', axis=1)

In [171]:
stations_df.count()

station_uid    439
name           439
county         439
state          439
latitude       439
longitude      439
climdiv        439
sid_1          439
sid_2          438
sid_3           29
sid_4            9
sid_5            5
sid_6            4
sid_7            2
sid_8            1
dtype: int64

In [172]:
stations_df = stations_df[stations_df.station_uid.isin(observations_df['station_uid'])]

In [173]:
stations_df.count()

station_uid    27
name           27
county         27
state          27
latitude       27
longitude      27
climdiv        27
sid_1          27
sid_2          26
sid_3          25
sid_4           8
sid_5           5
sid_6           4
sid_7           2
sid_8           1
dtype: int64

## Create calculated fields for dashboard and ML

In [174]:
# Create a freeze_day column based on min temperature
observations_df['freeze_day'] = np.where(observations_df['mint'] <= 32, 1, 0)

# Flag if it reaches above freezing on the day
observations_df['above_freezing'] = np.where(observations_df['maxt'] > 32, 1, 0)

# Create columns for the different date parts to make processing easier
observations_df['obs_year'] = pd.to_datetime(observations_df['date']).dt.year
observations_df['obs_month'] = pd.to_datetime(observations_df['date']).dt.month
observations_df['obs_day'] = pd.to_datetime(observations_df['date']).dt.day
observations_df['obs_dayofyear'] = pd.to_datetime(observations_df['date']).dt.dayofyear

### Start of Station/Year dataframe creation and calculations

In [175]:
# create a dataframe to store yearly summary info by station ID
years = pd.to_datetime(observations_df['date']).dt.year.unique()
years_df = pd.DataFrame(years,columns=['year'])
station_yearly_metrics_df = pd.merge(stations_df['station_uid'], years_df, how='cross')
station_yearly_metrics_df.set_index(['station_uid','year'])


# get the last frost date of each station for each year of data
last_freeze_df = observations_df.loc[(observations_df['freeze_day']==1)  & (observations_df['obs_dayofyear'] < 180),['station_uid','date','obs_year','obs_dayofyear'] ]. \
        groupby(["station_uid","obs_year"])[['date','obs_dayofyear']].max().rename(columns={'date':'last_freeze_date','obs_dayofyear':'last_freeze_dayofyear'})

# get the first freeze in the fall
first_freeze_df = observations_df.loc[(observations_df['freeze_day']==1)  & (observations_df['obs_dayofyear'] >= 180),['station_uid','date','obs_year','obs_dayofyear'] ]. \
        groupby(["station_uid","obs_year"])[['date','obs_dayofyear']].min().rename(columns={'date':'first_freeze_date','obs_dayofyear':'first_freeze_dayofyear'})

# Determine if we have a complete set of observations for april to may for each station/year
april_to_may_days_recorderd_df = pd.DataFrame(observations_df.loc[(observations_df['obs_month']>=4 )&(observations_df['obs_month'] <= 6),['station_uid','obs_year','mint']]\
        .groupby(['station_uid','obs_year'])['mint'].count()).rename(columns={'mint':'observations_recorded_april_to_may'})

In [176]:
# Get the coldest day of the year
coldest_day_of_year = observations_df.groupby(["station_uid","obs_year"])[['mint']].min().rename(columns={'mint':'coldest_day'})
coldest_day_df = pd.merge(coldest_day_of_year, observations_df, how='left', left_on=['station_uid', 'obs_year','coldest_day'], right_on = ["station_uid","obs_year","mint"])
coldest_day_of_year_df = pd.DataFrame(coldest_day_df.groupby(["station_uid","obs_year",'coldest_day'])['obs_dayofyear'].max())
coldest_day_of_year_df.rename(columns={'obs_dayofyear':'coldest_dayofyear'},inplace=True)
coldest_day_of_year_df = coldest_day_of_year_df.reset_index()
coldest_day_of_year_df = coldest_day_of_year_df.set_index(keys=['station_uid','obs_year'])
station_yearly_metrics_df = pd.merge(station_yearly_metrics_df, coldest_day_of_year_df, left_on=['station_uid', 'year'], right_on = ["station_uid","obs_year"])
#coldest_day_of_year_df.head()

In [177]:
# Get the hottest day of the year, if there are multiple days with the temperature, use the latest one in the year (the one closest to the next last freeze date the next spring)
hottest_day_of_year = observations_df.groupby(["station_uid","obs_year"])[['maxt']].max().rename(columns={'maxt':'hottest_day'})
hottest_day_df = pd.merge(hottest_day_of_year, observations_df, how='left', left_on=['station_uid', 'obs_year','hottest_day'], right_on = ["station_uid","obs_year","maxt"])
hottest_day_of_year_df = pd.DataFrame(hottest_day_df.groupby(["station_uid","obs_year",'hottest_day'])['obs_dayofyear'].max())
hottest_day_of_year_df.rename(columns={'obs_dayofyear':'hottest_dayofyear'},inplace=True)
hottest_day_of_year_df = hottest_day_of_year_df.reset_index()
hottest_day_of_year_df = hottest_day_of_year_df.set_index(keys=['station_uid','obs_year'])
station_yearly_metrics_df = pd.merge(station_yearly_metrics_df, hottest_day_of_year_df, left_on=['station_uid', 'year'], right_on = ["station_uid","obs_year"])
#hottest_day_of_year_df.head()

In [178]:
# merge all the yearly data 
station_yearly_metrics_df = pd.merge(station_yearly_metrics_df, last_freeze_df, how='left', left_on=['station_uid', 'year'], right_on = ["station_uid","obs_year"])
station_yearly_metrics_df = pd.merge(station_yearly_metrics_df, first_freeze_df, how='left', left_on=['station_uid', 'year'], right_on = ["station_uid","obs_year"])
station_yearly_metrics_df = pd.merge(station_yearly_metrics_df, april_to_may_days_recorderd_df, left_on=['station_uid', 'year'], right_on = ["station_uid","obs_year"])

In [179]:
station_yearly_metrics_df.head()

,station_uid,year,coldest_day,coldest_dayofyear,hottest_day,hottest_dayofyear,last_freeze_date,last_freeze_dayofyear,first_freeze_date,first_freeze_dayofyear,observations_recorded_april_to_may
0,10392,2002,-5.0,18,95.0,181,2002-05-05,125.0,2002-10-07,280.0,91
1,10392,2003,-16.0,38,94.0,236,2003-04-17,107.0,NaT,NaN,91
2,10392,2005,-16.0,14,92.0,197,2005-05-12,132.0,2005-10-07,280.0,87
3,10392,2006,-14.0,49,97.0,212,2006-04-09,99.0,2006-10-11,284.0,85
4,10392,2007,-19.0,36,94.0,207,2007-04-15,105.0,2007-09-14,257.0,90

### Start of calculations for the Stations dataframe

In [180]:
# Determine the mean/average last freeze date for a station 
avg_last_freeze_df = pd.DataFrame(station_yearly_metrics_df.groupby(['station_uid'])['last_freeze_dayofyear'].mean().round(0)).rename(columns={'last_freeze_dayofyear':'avg_last_freeze_dayofyear'})

# Convert the day of year to a string value for mm/dd
avg_last_freeze_df["avg_last_freeze_mm_dd"] = pd.to_datetime(avg_last_freeze_df["avg_last_freeze_dayofyear"],format='%j').dt.strftime('%m/%d')

# determine the mean, get the string value
median_last_freeze_df = pd.DataFrame(station_yearly_metrics_df.groupby(['station_uid'])['last_freeze_dayofyear'].median().round(0)).rename(columns={'last_freeze_dayofyear':'median_last_freeze_dayofyear'})
median_last_freeze_df["median_last_freeze_mm_dd"] = pd.to_datetime(median_last_freeze_df["median_last_freeze_dayofyear"],format='%j').dt.strftime('%m/%d')

# Merge the values into a single table
station_metrics_df = pd.merge(stations_df, avg_last_freeze_df, left_on=['station_uid'], right_on = ['station_uid'])
station_metrics_df = pd.merge(station_metrics_df, median_last_freeze_df, left_on=['station_uid'], right_on = ['station_uid'])

In [181]:
# merge the station metrics and station/yearly DF to determine metrics for each station
merged_station_and_yearly_df = pd.merge(station_metrics_df, station_yearly_metrics_df, how="left", on=["station_uid", "station_uid"])

In [182]:
# Get a count of how many years the station is in the dataset
stations_years_count = merged_station_and_yearly_df.groupby("station_uid").count()["year"]

# Calculate the number of years where the last freeze was before or on the average date
stations_count_at_or_before_avg_last_freeze = merged_station_and_yearly_df[(merged_station_and_yearly_df["last_freeze_dayofyear"] <= merged_station_and_yearly_df['avg_last_freeze_dayofyear'])]
stations_count_at_or_before_avg_last_freeze = stations_count_at_or_before_avg_last_freeze.groupby("station_uid").count()["year"]

# Calculate the number of years where the last freeze was after the average date
stations_count_later_than_avg_last_freeze = merged_station_and_yearly_df[(merged_station_and_yearly_df["last_freeze_dayofyear"] > merged_station_and_yearly_df['avg_last_freeze_dayofyear'])]
stations_count_later_than_avg_last_freeze = stations_count_later_than_avg_last_freeze.groupby("station_uid").count()["year"]

In [183]:
station_calc_values_df = pd.DataFrame(
          {"years_included": stations_years_count,
          "count_at_or_before_avg_last_freeze": stations_count_at_or_before_avg_last_freeze, 
          "count_later_than_avg_last_freeze": stations_count_later_than_avg_last_freeze})
station_calc_values_df.head()

,years_included,count_at_or_before_avg_last_freeze,count_later_than_avg_last_freeze
station_uid,,,
10392,10,5.0,5.0
10393,20,7.0,13.0
10395,21,10.0,11.0
10398,21,12.0,9.0
10401,1,1.0,NaN

In [184]:
station_metrics_full_df = pd.merge(station_metrics_df, station_calc_values_df, how="left", on=["station_uid", "station_uid"])
station_metrics_full_df.head(5)

,station_uid,name,county,state,latitude,longitude,climdiv,sid_1,sid_2,sid_3,...,sid_6,sid_7,sid_8,avg_last_freeze_dayofyear,avg_last_freeze_mm_dd,median_last_freeze_dayofyear,median_last_freeze_mm_dd,years_included,count_at_or_before_avg_last_freeze,count_later_than_avg_last_freeze
0,10392,FARMINGTON 3NW,27037,MN,-93.17559,44.66600,MN09,212737 2,USC00212737 6,FRMM5 7,...,None,None,None,117.0,04/27,118.0,04/28,10,5.0,5.0
1,10395,ROSEMOUNT RESEARCH AND OUTREACH CENTER,27037,MN,-93.09798,44.71673,MN09,217107 2,USC00217107 6,RSMM5 7,...,None,None,None,122.0,05/02,123.0,05/03,21,10.0,11.0
2,10393,JORDAN 1SSW,27139,MN,-93.63560,44.65010,MN05,214176 2,USC00214176 6,JORM5 7,...,None,None,None,118.0,04/28,122.0,05/02,20,7.0,13.0
3,10398,HASTINGS DAM 2,27037,MN,-92.86890,44.75970,MN09,213567 2,USC00213567 6,HSTM5 7,...,None,None,None,109.0,04/19,108.0,04/18,21,12.0,9.0
4,10401,YOUNG AMERICA 1SW,27019,MN,-94.01667,44.80556,MN05,219208 2,USC00219208 6,YNGM5 7,...,None,None,None,108.0,04/18,108.0,04/18,1,1.0,NaN

### Start of Observation Day Calculations

In [185]:
observations_df.head()

,station_uid,date,maxt,mint,pcpn,snow,snwd,avgt,freeze_day,above_freezing,obs_year,obs_month,obs_day,obs_dayofyear
7441,10392,2002-01-01,15.0,6.0,0.0,0.0,2.0,10.5,1,0,2002,1,1,1
7442,10392,2002-01-02,16.0,-2.0,0.0,0.0,NaN,7.0,1,0,2002,1,2,2
7443,10392,2002-01-03,25.0,-0.0,0.0,0.0,2.0,12.5,1,0,2002,1,3,3
7444,10392,2002-01-04,32.0,18.0,0.0,0.0,NaN,25.0,1,0,2002,1,4,4
7445,10392,2002-01-05,34.0,27.0,0.0,0.0,NaN,30.5,1,1,2002,1,5,5

In [186]:
def observation_calcs_loop(date_range):
    counter = 0
    observation_calcs_df = pd.DataFrame()

    # Loop through all the observations and calculate the metrics based on the number of days previous passed in
    for index, row in observations_df.iterrows():
        # call function to get previous X days of data

        df = pd.DataFrame(observations_df.loc[(observations_df.station_uid == row['station_uid']) & \
                            (observations_df.date < row['date']) & \
                            (observations_df.date >= row['date'] - timedelta(days=date_range))] \
                    .groupby('station_uid').agg(max_temp=('maxt', 'max'), 
                            min_temp=('mint', 'min'),
                            avgt=('avgt','mean'),
                            precip=('pcpn','sum'),
                            count=('date','count')) \
                    .reset_index(drop=True))

        df['source_index'] = index

        observation_calcs_df = pd.concat([observation_calcs_df,df], ignore_index=True)
        
    # Rename the columns for the range
    column_array = [f'maxt_{date_range}_day', f'mint_{date_range}_day', f'avgt_{date_range}_day', f'precip_{date_range}_day',f'obs_count_{date_range}_day','source_index']
    observation_calcs_df.columns = column_array

    observation_calcs_df = observation_calcs_df.set_index("source_index")
    return observation_calcs_df

In [187]:
# Run the function for 7 days and merge the new columns into the table
observations_calcs_7_day = observation_calcs_loop(7)
observations_new_df = pd.merge(observations_df, observations_calcs_7_day, how="left", left_index=True, right_index=True)
# observations_new_df.head()

In [ ]:
# Run the function for 30 days and merge the new columns into the table
observations_calcs_30_day = observation_calcs_loop(30)
observations_new_df = pd.merge(observations_new_df, observations_calcs_30_day, how="left", left_index=True, right_index=True)
# observations_new_df.tail()

In [ ]:
#NEED TO ADD
# days_from avg
# days from actual

In [ ]:
# Create the Output file (CSV
output_station_file = "../Resources/station_data.csv"
output_station_year_file = "../Resources/station_year_data.csv"
output_observation_file = "../Resources/observation_data.csv"

station_metrics_full_df.to_csv(output_station_file, index=False)
station_yearly_metrics_df.to_csv(output_station_year_file, index=False)
observations_new_df.to_csv(output_observation_file, index=False)

In [ ]:
# Connect to PostgreSQL movie_data DB
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/last_freeze_analysis"

# Create the database engine with the following line 
engine = create_engine(db_string)

# These two drop statements are to cleanup an old set of tablenames
with engine.connect() as con:
    con.execute("DROP TABLE IF EXISTS stations;")
with engine.connect() as con:
    con.execute("DROP TABLE IF EXISTS observations;")



# RECREATE THE TABLES WITH DATA.  CREATE IN THIS ORDER TO DEAL WITH FK's

# Save the observations DataFrame to a SQL table "observations"- Replace the table if it already exists
observations_new_df.to_sql(name='observation', con=engine, if_exists='replace', index=False)   

# Save the stations DataFrame to a SQL table "stations"- Replace the table if it already exists
station_yearly_metrics_df.to_sql(name='station_yearly', con=engine, if_exists='replace', index=False)   

# Save the stations DataFrame to a SQL table "stations"- Replace the table if it already exists
station_metrics_full_df.to_sql(name='station', con=engine, if_exists='replace', index=False)   



# Add primary keys
with engine.connect() as con:
    con.execute("ALTER TABLE station ADD PRIMARY KEY (station_uid);")

with engine.connect() as con:
    con.execute("ALTER TABLE station_yearly ADD PRIMARY KEY (station_uid,year);")

with engine.connect() as con:
    con.execute("ALTER TABLE observation ADD PRIMARY KEY (station_uid,date);")


# Add foreign keys
with engine.connect() as con:
    con.execute("ALTER TABLE station_yearly ADD CONSTRAINT stn_yrly_station_uid_fk FOREIGN KEY (station_uid) REFERENCES station (station_uid);")



with engine.connect() as con:
    con.execute("ALTER TABLE observation ADD CONSTRAINT obs_station_uid_fk FOREIGN KEY (station_uid) REFERENCES station (station_uid);")